@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/**
*
* Testing
*
**/
*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.btn {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-0.06%, #C944F3), color-stop(99.91%, #6835DC));
  background: linear-gradient(0deg, #C944F3 -0.06%, #6835DC 99.91%);
  border-radius: 8px;
  text-transform: uppercase;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-0.06%, #af3bd2), color-stop(99.91%, #542cb1));
  background: linear-gradient(0deg, #af3bd2 -0.06%, #542cb1 99.91%);
}

.homepage-header {
  padding: 50px 100px;
}

@media (max-width: 360px) {
  .homepage-header {
    padding: 50px 30px;
  }
}

@media (min-width: 361px) and (max-width: 768px) {
  .homepage-header {
    padding: 50px;
  }
}

.main-homepage {
  padding: 50px;
}

.main-homepage .not-found-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 360px) {
  .main-homepage .not-found-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 361px) and (max-width: 1000px) {
  .main-homepage .not-found-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-homepage .not-found-container .not-found-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40%;
}

@media (max-width: 360px) {
  .main-homepage .not-found-container .not-found-text {
    max-width: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 361px) and (max-width: 1000px) {
  .main-homepage .not-found-container .not-found-text {
    max-width: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-homepage .not-found-container .not-found-title {
  font-style: normal;
  font-weight: 700;
  font-size: 61.04px;
  line-height: 74px;
  color: #212121;
}

@media (max-width: 360px) {
  .main-homepage .not-found-container .not-found-title {
    text-align: center;
    font-size: 30px;
    line-height: 44px;
  }
}

@media (min-width: 361px) and (max-width: 1000px) {
  .main-homepage .not-found-container .not-found-title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
}

.main-homepage .not-found-container .not-found-subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 49px;
}

@media (max-width: 360px) {
  .main-homepage .not-found-container .not-found-subtitle {
    text-align: center;
  }
}

@media (min-width: 361px) and (max-width: 1000px) {
  .main-homepage .not-found-container .not-found-subtitle {
    text-align: center;
  }
}

.main-homepage .not-found-container .contact-page-link {
  width: 100%;
  max-width: 200px;
}

.main-homepage .gizmo-img-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 543.12px;
}

@media (max-width: 360px) {
  .main-homepage .gizmo-img-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 361px) and (max-width: 1000px) {
  .main-homepage .gizmo-img-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.main-homepage .gizmo-img-container img {
  width: 100%;
}

.homepage-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 100px;
}

@media (max-width: 359px) {
  .homepage-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .homepage-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 359px) {
  .homepage-footer .rights-container {
    margin-top: 1rem;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .homepage-footer .rights-container {
    margin-top: 1rem;
  }
}

.homepage-footer .rights-container h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 4px;
}

@media (max-width: 359px) {
  .homepage-footer .rights-container h6 {
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .homepage-footer .rights-container h6 {
    text-align: center;
  }
}

.homepage-footer .socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-footer .socials-container .social-link {
  text-decoration: none;
  margin: 0 12px;
}

.main-contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 359px) {
  .main-contact-page {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media (min-width: 360px) and (max-width: 899px) {
  .main-contact-page {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.main-contact-page .contact-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  padding: 50px 80px;
}

@media (max-width: 359px) {
  .main-contact-page .contact-us-container {
    width: 100%;
    padding: 50px 0;
  }
}

@media (min-width: 360px) and (max-width: 899px) {
  .main-contact-page .contact-us-container {
    width: 100%;
    padding: 50px 0;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .main-contact-page .contact-us-container {
    width: 50%;
  }
}

@media (max-width: 359px) {
  .main-contact-page .logo {
    margin: 1rem auto;
    max-width: 76px;
  }
}

@media (min-width: 360px) and (max-width: 899px) {
  .main-contact-page .logo {
    margin: 1rem auto;
    max-width: 76px;
  }
}

.main-contact-page .mobile-info-container {
  display: none;
  background-image: url("../assets/png/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  padding: 93px 24px 106px 25px;
}

@media (max-width: 359px) {
  .main-contact-page .mobile-info-container {
    display: block;
  }
}

@media (min-width: 360px) and (max-width: 899px) {
  .main-contact-page .mobile-info-container {
    display: block;
  }
}

.main-contact-page .mobile-info-container .info-title {
  font-style: normal;
  font-weight: 500;
  font-size: 39.06px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
}

.main-contact-page .mobile-info-container .info-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  margin: 9px 0;
}

.main-contact-page .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 359px) {
  .main-contact-page .contact-form-container {
    padding: 0 2rem;
  }
}

@media (min-width: 360px) and (max-width: 899px) {
  .main-contact-page .contact-form-container {
    padding: 0 2rem;
  }
}

.main-contact-page .contact-form-container .contact-form-title {
  font-weight: 400;
  font-size: 39.06px;
  line-height: 47px;
  color: #000000;
  margin-top: 4rem;
}

@media (max-width: 359px) {
  .main-contact-page .contact-form-container .contact-form-title {
    text-align: center;
    font-size: 22px;
  }
}

@media (min-width: 360px) and (max-width: 899px) {
  .main-contact-page .contact-form-container .contact-form-title {
    text-align: center;
    font-size: 25px;
  }
}

.main-contact-page .contact-form-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 72px 0 36px 0;
}

.main-contact-page .contact-form-container .contact-form .form-input,
.main-contact-page .contact-form-container .contact-form .form-input-desc {
  border: none;
  border-bottom: 0.5px solid #000000;
  margin-bottom: 24px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 152%;
  color: rgba(0, 0, 0, 0.6);
}

.main-contact-page .contact-form-container .contact-form .form-input-desc {
  font-family: 'Inter', sans-serif;
  resize: none;
}

.main-contact-page .contact-form-container .contact-form .contact-form-submit-btn {
  border: none;
}

.main-contact-page .contact-form-container .alt-email-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.main-contact-page .contact-form-container .alt-email-link a {
  text-decoration: none;
  color: #000000;
}

.main-contact-page .socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 4rem 0 2rem 0;
}

.main-contact-page .socials-container .social-link {
  text-decoration: none;
  margin: 0 10px;
}

.main-contact-page .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../assets/png/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  width: 60%;
  padding: 0 6rem;
}

@media (max-width: 359px) {
  .main-contact-page .info-container {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 899px) {
  .main-contact-page .info-container {
    display: none;
    padding: 0 2rem;
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  .main-contact-page .info-container {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .main-contact-page .info-container {
    padding: 0 4rem;
  }
}

.main-contact-page .main-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto 0;
}

.main-contact-page .main-info .main-info-text {
  margin-bottom: 10rem;
}

.main-contact-page .main-info .main-info-text .main-info-title {
  font-style: normal;
  font-weight: 700;
  font-size: 61.04px;
  line-height: 74px;
  color: #FFFFFF;
  width: 80%;
}

.main-contact-page .main-info .main-info-text .main-info-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 20px;
}

.main-contact-page .main-info .services-and-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-contact-page .main-info .services-and-contact-container .services-container {
  margin-right: 85px;
}

.main-contact-page .main-info .services-and-contact-container .services-container .services-container-title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 22.5px;
}

.main-contact-page .main-info .services-and-contact-container .services-container .services-list {
  list-style: none;
}

.main-contact-page .main-info .services-and-contact-container .services-container .services-list .service {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 5px 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuOTY5NjcgNC42NTUzM0M5LjY3Njc4IDQuMzYyNDQgOS42NzY3OCAzLjg4NzU2IDkuOTY5NjcgMy41OTQ2N0MxMC4yNjI2IDMuMzAxNzggMTAuNzM3NCAzLjMwMTc4IDExLjAzMDMgMy41OTQ2N0wxNS4zNzUgNy45MzkzNEMxNS45NjA4IDguNTI1MTMgMTUuOTYwOCA5LjQ3NDg3IDE1LjM3NSAxMC4wNjA3TDExLjAzMDMgMTQuNDA1M0MxMC43Mzc0IDE0LjY5ODIgMTAuMjYyNiAxNC42OTgyIDkuOTY5NjcgMTQuNDA1M0M5LjY3Njc4IDE0LjExMjQgOS42NzY3OCAxMy42Mzc2IDkuOTY5NjcgMTMuMzQ0N0wxMy41NjQzIDkuNzVIM0MyLjU4NTc5IDkuNzUgMi4yNSA5LjQxNDIxIDIuMjUgOUMyLjI1IDguNTg1NzkgMi41ODU3OSA4LjI1IDMgOC4yNUgxMy41NjQzTDkuOTY5NjcgNC42NTUzM1oiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=) no-repeat left top;
  padding: 0px 0 3px 24px;
}

.main-contact-page .main-info .services-and-contact-container .contacts-container .contacts-container-title {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 22.5px;
}

.main-contact-page .main-info .services-and-contact-container .contacts-container .contacts-list {
  list-style: none;
}

.main-contact-page .main-info .services-and-contact-container .contacts-container .contacts-list .contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 5px 0;
}

.main-contact-page .main-info .services-and-contact-container .contacts-container .contacts-list .contact a {
  text-decoration: none;
  color: #FFFFFF;
}
